.test {
  background-image: radial-gradient(
    circle,
    #b458ff,
    #bf89ff,
    #cfb2ff,
    #e5d9ff,
    #ffffff
  );
}
.test2 {
  background-image: radial-gradient(
    circle,
    #de3874,
    #e54b81,
    #eb5c8d,
    #f16b9a,
    #f77aa6,
    #f88bb9,
    #f99cca,
    #f9add9,
    #f4c4eb,
    #f2d9f7,
    #f5edfe,
    #ffffff
  );
}

.test3 {
  background-image: radial-gradient(
    circle,
    #e1c009,
    #ffb579,
    #ffc4cf,
    #ffe4ff,
    #ffffff
  );
}
.test4 {
  background-image: radial-gradient(
    circle,
    #19e3de,
    #1ee6e1,
    #23eae5,
    #27ede8,
    #2bf1ec,
    #4ef3f3,
    #67f5fa,
    #7df7ff,
    #a9f7ff,
    #d3f7ff,
    #f1f9ff,
    #ffffff
  );
}
.test5 {
  background-image: radial-gradient(
    circle,
    #de3874,
    #e54b81,
    #eb5c8d,
    #f16b9a,
    #f77aa6,
    #f88bb9,
    #f99cca,
    #f9add9,
    #f4c4eb,
    #f2d9f7,
    #f5edfe,
    #ffffff
  );
}
